<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>building_id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Family house</string>
		<key>image</key>
		<string>family-house</string>
	</dict>
</array>
</plist>
